{% extends 'base.html.twig' %}

{% block body %}

    <div class="form">
        <div class="form-inner">
            <h3>Предварительная стоимость: {{ total }}$</h3>
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}